<div class="center jumbotron">
  <h1>Welcome to Commute Tracker!</h1>

  <h2>
    This is the home page for my web app, Commute Tracker.
    <br><br>
    If you want to use SSL and don't mind an invalid certificate alert, go <a href="https://commutetracker.kevindong.net">here</a>.
    <br>
    To use SSL without an invalid certificate alert, go <a href="https://commutetrackerbykevindong.herokuapp.com/">here</a>.
    <br>
    If, for some reason, you want to forgo SSL, go <a href="http://commutetracker.kevindong.net">here</a>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>