<div class="center jumbotron">
  <h1>Welcome to Commute Tracker!</h1>
  For that stats nerd in you that likes to keep meticulous records on how much of your life gets killed by commuting. This web app will eventually attempt to optimize the amount of time spent commuting.
  <br><br>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>